/* 
   _  __    ____  _______________________    __       _____ __  ______  ____ 
  | |/ /   / __ \/  _/ ____/  _/_  __/   |  / /      / ___// / / / __ \/ __ \
  |   /   / / / // // / __ / /  / / / /| | / /       \__ \/ /_/ / / / / /_/ /
 /   |   / /_/ // // /_/ // /  / / / ___ |/ /___    ___/ / __  / /_/ / ____/ 
/_/|_|  /_____/___/\____/___/ /_/ /_/  |_/_____/   /____/_/ /_/\____/_/      
                                                                             
Thanks For Buying From ğ™“ ğ˜¿ğ™„ğ™‚ğ™„ğ™ğ˜¼ğ™‡ ğ™ğ™ƒğ™Šğ™‹

=======================================================
  * Product Name : X Google Organic Safelink
  * Product URL  : https://xdigitalshop.com/product/x-google-organic-safelink/
  * Version      : V2.5 [Beta]
  * Developer    : MrTamilKiD
  * Website      : xdigitalshop.com
  * License      : You must have a valid license purchased only from xdigitalshop.com
  * Support      : For Any Help Contact Us on Telegram - https://t.me/XDigitalShop/11
  * Updated      : jul 10 2024
========================================================  */

body {
    font-family: "Open Sans", sans-serif;
    background: #f6f9ff;
    color: #444444;
}
.credits {
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
    color: #020d1f;
}
.btn {
    background: #0059ff;
    color: #fff;
    padding: 8px 30px;
    border-radius: 5px;
}
.btn:hover {
    background: #2a74fd;
    color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p{
  font-family: "Nunito", sans-serif;
}